---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
import Layout from "./Layout.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, publishedAt, updatedAt, coverImage } = Astro.props;
---

<Layout title={`${title} - Jeeho Ahn`}>
  <article>
    <div class="py-8">
      <div class="title">
        <h1 class="font-semibold text-4xl mt-24">{title}</h1>{
          description && <p class="mt-4 text-gray-11 text-lg">{description}</p>
        }
        <div class="date mt-8">
          <FormattedDate date={publishedAt} />
          {
            updatedAt && (
              <div class="last-updated-on">
                Last updated on <FormattedDate date={updatedAt} />
              </div>
            )
          }
        </div>
      </div>
      {
        coverImage && (
          <img
            class="h-[30rem] mt-20 object-cover w-full"
            src={coverImage}
            alt=""
          />
        )
      }
      <div class="max-w-[800px] mt-12 mx-auto lg:border-l border-gray-6">
        <div class="prose lg:prose-lg prose-gray max-w-[700px] mx-auto">
          <slot />
        </div>
      </div>
    </div>
  </article>
</Layout>
